<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/content/ico/favicon.png">

    <title>Helping Hand Donation</title>

    <!-- Bootstrap core CSS -->
    <link href="/content/css/bootstrap.three.css" rel="stylesheet">

    <!-- Icons -->
    <link href="/content/css/icons.css" rel="stylesheet">

    <!-- Fonts -->
    <link href="/content/fonts/raleway/stylesheet.css" rel="stylesheet">

    <!-- Custom bootstrap styles -->
    <link href="/content/css/overwrite.css" rel="stylesheet">

    <!-- Start Masonry -->
    <link type="text/css" rel="stylesheet" href="/content/css/masonry.css" />

    <!-- Owl Carousel -->
    <link href="/content/css/owl.carousel.css" rel="stylesheet">

    <!-- prettyPhoto -->
    <link type="text/css" rel="stylesheet" href="/content/css/prettyPhoto.css">

    <!-- Animate -->
    <link href="/content/css/animate.css" rel="stylesheet">

    <!-- Jssor Slider -->
    <link href="/content/css/jssor-slider.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/content/css/style.css" rel="stylesheet">
    <script src="/content/js/jquery.min.js"></script>
    <!-- Styles for color skins -->
    <link id="skin" href="/content/skins/default.css" rel="stylesheet">
    <script language="Javascript">
        
        function showNeedy() {

            document.getElementById("donar").style.display = "none";
            document.getElementById("volunteer").style.display = "none";
            document.getElementById("need-help").style.display = "block";

        }

        function showDonor() {
            document.getElementById("need-help").style.display = "none";
            document.getElementById("volunteer").style.display = "none";
            document.getElementById("donar").style.display = "block";

        }


        function showVolunteer() {
            document.getElementById("need-help").style.display = "block";
            document.getElementById("volunteer").style.display = "block";
            document.getElementById("donar").style.display = "none";

        }


        
    </script>

</head>

<body id="top">
    <!-- Start preloading -->
    <div id="loading" class="loading-invisible">
        <div class="loading-center">
            <div id="loading-center-absolute">
                <div class="object" id="first_object"></div>
                <div class="object" id="second_object"></div>
                <div class="object" id="third_object"></div>
                <div class="object" id="forth_object"></div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>
    <script type="text/javascript">
        document.getElementById("loading").className = "loading-visible";
        var hideDiv = function () { document.getElementById("loading").className = "loading-invisible"; };
        var oldLoad = window.onload;
        var newLoad = oldLoad ? function () { hideDiv.call(this); oldLoad.call(this); } : hideDiv;
        window.onload = newLoad;
    </script>
    <!-- End preloading -->
    <!-- Start Scroll to top -->
    <div class="scroll-top scroll">
        <a href="#top"><i class="icon-arrow-up2"></i></a>
    </div>
    <!-- End Scroll to top -->
    <!-- Start header -->
    <header>
        <!-- Start navbar -->
        <div class="top">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-6">
                        <a href="mailto:">
                            <ul class="top-contact">
                                <li><strong>Email :</strong> support@helpinghand.pk</li>
                            </ul>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End navbar -->
        <!-- Start navbar -->
        <nav class="navbar">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="./"><img src="/content/img/logo.png" alt="" /></a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="scroll active"><a href="#home">Home</a></li>
                        <li class="scroll"><a href="#what">What we do</a></li>
                        <li class="scroll"><a href="#who">Who we are</a></li>
                        <li><a href="/contact">Contact</a></li>
                        <li class="scroll"><a href="#what" class="btn btn-primary">Donate now</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
        <!-- End navbar -->
    </header>
    <!-- End header -->

    <div class="clearfix"></div>
   {{{body}}}
    <!-- Start slider -->

    <div class="clearfix"></div>

    <div class="clearfix"></div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-push-8">
                    <!-- Start Footer About -->
                    <div class="footer-about">
                        <h5>Thanks for your help...</h5>
                        <p>
                            We extend our gratitude to all the donors who are helping our cause by sharing the donations openheartedly just like Ansar tried to outdo each other in improving the financial conditions of Muhajireen in Madinah during Prophet's (P.B.U.H)'s time.
                        </p>
                    </div>
                    <!-- End Footer About -->
                </div>
                <div class="col-md-8 col-md-pull-4">
                    <div class="row wrap-widget-footer">
                        <div class="col-md-3"><!-- Empty Div --></div>
                        <div class="col-md-3">
                            <!-- Start Widget Footer -->
                            <div class="widget-footer">
                                <h5 class="title-footer">
                                    LINKS
                                </h5>
                                <!-- Start Footer Link -->
                                <ul class="footer-link">
                                    <li class=" active"><a href="/">Home</a></li>
                                    <li class=""><a href="./#what">What we do</a></li>
                                    <li class=""><a href="./#who">Who we are</a></li>
                                    <li><a href="/contact">Contact</a></li>
                                    <li><a href="/privacy">Privacy Policy</a></li>
                                </ul>
                                <!-- End Footer Link -->
                            </div>
                            <!-- End Widget Footer -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- End footer -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <script src="/content/js/jquery.easing-1.3.min.js"></script>
    <script src="/content/js/bootstrap.three.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/content/js/ie10-viewport-bug-workaround.js"></script>

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="/content/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/content/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/content/js/html5shiv.min.js"></script>
      <script src="/content/js/respond.min.js"></script>
    <![endif]-->
    <!-- Jssor Slider -->
    <script src="/content/js/jssor-slider/jssor.slider.min.js"></script>
    <script src="/content/js/jssor-slider/setting.js"></script>

    <!-- Bootstrap Scrollspy -->
    <script src="/content/js/scrollspy/scrollspy.js"></script>

    <!-- Start Video API -->
    <script>
        // Load the IFrame Player API code asynchronously.
        var tag = document.createElement('script');
        tag.src = "https://www.youtube.com/player_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        // Replace the 'ytplayer' element with an <iframe> and
        // YouTube player after the API code downloads.
        var player;
        function onYouTubePlayerAPIReady() {
            player = new YT.Player('ytplayer', {
                height: 'auto',
                width: '100%',
                videoId: 'mdfMT5Zi8Eo',
                playerVars: {
                    'autoplay': 0,
                    'rel': 0,
                    'showinfo': 0,
                    'html5': 1,
                    'allowscriptaccess': 'always',
                }
            });
        }
    </script>

    <!-- Start Form Plugin -->
    <script src="/content/js/validation/jquery.validate.min.js"></script>

    <!-- masonry -->
    <script src="/content/js/masonry/masonry-3.1.4.js"></script>
    <script src="/content/js/masonry/masonry.filter.js"></script>
    <script src="/content/js/masonry/setting.js"></script>

    <!-- Owl Carousel -->
    <script src="/content/js/owl/owl.carousel.min.js"></script>
    <script src="/content/js/owl/setting.js"></script>

    <!-- prettyPhoto -->
    <script src="/content/js/prettyPhoto/jquery.prettyPhoto.js"></script>

    <!--[if lte IE 9]>
        <script src="/content/js/tweecool/jquery.xdomainrequest.min.js"></script>
    <![endif]-->
    <!-- Twitter Feed -->
    <script src="/content/js/tweecool/tweecool.js"></script>

    <!-- custom javascript -->
    <script src="/content/js/custom.js"></script>

    <!-- Theme option-->
    <script src="/content/js/theme-option/demosetting.js"></script>


</body>

</html>
