

<section class="inner-heading">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <!-- Start title -->
                <div class="title-section">
                    <h3>Contact us</h3>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="icon-home"></i> Home</a></li>
                        <li class="active">Contact us</li>
                    </ol>
                </div>
                <!-- End title -->
            </div>
        </div>
    </div>
</section>
<div class="inner-page">
    <div class="container">
        <div class="row">
            <div class="col-md-8 post-page">
                <div class="heading">
                    <h5>Contact us</h5>
                    <p>
                        Kindly contact us if you want any details regarding registration or our processes.
                    </p>
                    <span class="linner"></span>
                </div>
                <!-- Start Form -->
                <form method="post" id="mycontactform" novalidate="novalidate">
                    <div class="clearfix"></div>
                    <div id="success" style="color:red;"></div>
                    <div class="row wrap-form">
                        <div class="form-group col-md-6 col-sm-6">
                            <label>Name</label>
                            <input type="text" name="name" id="name" class="form-control input-lg required" placeholder="Enter your full Name..." aria-required="true">
                            <span data-for="name" class="error"></span>
                        </div>
                        <div class="form-group col-md-6 col-sm-6">
                            <label>Phone</label>
                            <input type="text" name="email" id="email" class="form-control input-lg required" placeholder="Enter your Phone Number..." aria-required="true">
                            <span data-for="email" class="error"></span>
                        </div>
                        <div class="form-group col-md-12">
                            <label>Your Message</label>
                            <textarea name="message" id="message" class="form-control input-lg required" placeholder="Write something for us..." rows="9" aria-required="true"></textarea>
                            <span data-for="message" class="error"></span>
                        </div>
                        <div class="form-group col-md-12">
                            <input type="submit" value="Send Message" id="submit" class="btn btn-primary btn-lg">
                            <div class="status-progress"></div>
                        </div>
                    </div>
                </form>
                <!-- End Form -->
            </div>
            <div class="col-md-4 sidebar-page">
                <aside>
                    <div class="widget">
                        <h5 class="title-aside">Contact</h5>
                        <ul class="contact-info">
                            <li>
                                <i class="icon-envelope icon-primary icon-4x alignleft"></i>
                                <h6>Email :</h6>
                                <p>
                                    support@helpinghand.com
                                </p>
                            </li>
                        </ul>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</div>

