
<section class="privacy_banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Privacy Policy</h1>
            </div>
        </div>
    </div>
</section>
<section class="privacy_content">
    <div class="container">
        <div class="row">
            <div class="">
                <p>We are the representatives of HelpingHand.Pk, and you can get in touch with us through the data given on our site. We genuinely care about our clients' and visitor’s privacy</p>
                <p>We collect your private data in a responsible way. This privacy policy is about our practices and how we utilize your provided information. This strategy has been planned to feature the primary requirements of our services.</p>
                <h4>The information that we collect from our clients:</h4>
                <p>If you register for newsletters, regular emails, and reminders about our offers and services, we use the details that you willingly provide about yourself when sending your request to fulfill the requested services and provide details about our company.</p>
                <p>We never share your data with the outsider but to the degree expected to finish your request. Usually, we share the required data with our editors to complete clients’ requirements.</p>
                <h4>How Information Gathered Is Used</h4>
                <p>We utilize our customers' data for the following objectives.</p>
                <ul class="privacy-list">
                    <li>To customize the client's understanding</li>
                    <li>To advance Customer service</li>
                    <li>For the improvement of our site</li>
                    <li>To use input client gives to improve our services</li>
                    <li>To send routine emails</li>
                    <li>To send data about subjects of client's advantage</li>
                </ul>
                <h4>Use of Cookies and Tracking</h4>
                <p>When you visit this site, we may send cookies to your computer. This will help in distinguishing your browser and tracking your record on our website. You can control or reset your cookies through your internet browser.</p>
                <h4>Your Consent</h4>
                <p>Through using our platform, you agree to our terms and conditions and policies. We do not enlist a visitor on our site except if the customer gives his / her own choice of the necessary data. Your personal decision would be to apply to our website. If you wish to know more about the way we render our services, don’t be reluctant to contact us.</p>
            </div>
        </div>
    </div>
</section>
